*{
    margin: 0;
    border: 0;
    box-shadow: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f5f5f5;
    min-height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    width: auto;
    height: 70px;
    padding-left: 5%;
    overflow: hidden;
}


header img{
    width: 170px;
}


div.container{
    margin: 2% 20% 0 20%;
    height: 100%;
    background-color:transparent;
}

div.container h1{
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: rgb(32, 55, 92);
}

div.container p{
    margin-bottom: 10px;
    font-size: 1rem;
}


.container_graficos{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 500px;
    justify-content: space-between;
    gap: 20px;
}

div.sla{
    height: 100%;
    width: 135%;
    background-color: transparent;
    padding-bottom: 50px;
}

@media (max-width: 1600px){
    .container_graficos{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr; /* Define duas linhas com diferentes proporções */
        grid-template-columns: 1fr; /* Uma única coluna */
    }

    .container_graficos div.tabela_info{
        min-height: 200px;
    }
    
    div.sla{
        height: 100%;
        width: 100%;
        background-color:transparent;
        padding-bottom: 100px;
    }
}

div.graficos div.barra_pesquisa{
    background-color: #ffffff;
    border: 1px #e0e0e0 solid;
    height:40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.barra_pesquisa button{
    height: 100%;
    border: none;
    background-color: transparent;
    transform: 1s;
    font-size: 1rem;
    transition: .2s;
}

.barra_pesquisa .ativo{
    background-color: #20375c;
    color: white;
}

div.barra_pesquisa button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

div.graficos img{
    width: 100%;
}
div.graficos{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

div.tabela_info{
    background-color: #ffffff;
    border: 1px #e0e0e0 solid;
    padding: 10px;
    overflow: auto;
    height: 95%;
}

.text {
    margin-top: 20px;
}

footer{
    background-color: #ffffff;
    width: auto;
    height: 120px;
    padding: 30px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
}

footer h1{
    color: #20375c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

footer ul{
    position: relative;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    list-style: none;
}

footer ul p{
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

footer ul p:hover{
    transform: translateY(-8px);
}

.testos{
    display: none;
    overflow: auto;
}

.nomes{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(9px);
    height: 400px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    transition: 2s;
}


.nomes img{
    padding-left: 5%;
    width: 90%;
    margin-bottom: 20px;
}

.nomes h3{
    margin-top: 10px;
}

.nomes h3 a{
    font-size: 1rem;
    color: #2521ff;
}

.nomes h3 a:hover{
    font-size: 1rem;
    color:#2181ff;
}

.ativo {
    display: block;
}

@media (max-width: 600px){
    div.nomes{
        height: 300px;
        width: 290px;
    }
    div.container{
        margin: 10% 20% 0 20%;
    }
}

@media (max-height: 400px){
    div.nomes{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70%;
        width: 290px;
    }
}

.btn_fechar{
  position: absolute;
  top: 0;
  right: 0;
}

.btn_fechar button{
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: transparent;
    color: #20375c;
    font-size: 1rem;
    font-weight: 800 ;
}

div.cont{
padding: 5% 10%;
height: 100%;
}

div.cont h1{
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: rgb(32, 55, 92);
}

div.cont p{
    margin-bottom: 10px;
    font-size: 1.3rem;
}

div.cont button{
    margin-top: 40px;
    width: 100%;
    background-color: #20375c;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 10px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

div.cont a{
    width: 100%;
    height: 100%;
}
